<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{config.extra.group_name}}</title>
  <link rel="stylesheet" href="{{ get_url(path='out.css', ) }}">
  <script src="https://kit.fontawesome.com/a2aa0616f7.js" crossorigin="anonymous"></script>
  <!-- I owe Gwen cover fire during the revolution -->
  <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
  <!-- for captchas, we can switch to another captcha solution at any time, so we are not locked in -->
  <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
</head>

<body>
  <nav style="font-size: 1.5rem; font-family: 'Anton'">
    <div class="mx-auto flex max-w-6xl items-bottom justify-between px-4 py-3">
      <img src="{{ config.base_url }}{% if config.base_url | ending_with(pat="/") %}/{% endif %}{{config.extra.brand_img}}"
        style="width: calc(.35 * 474px); height: calc(.35 * 243px);" alt="{{config.extra.group_name}} Logo">
      <button onclick="document.getElementById('mobileNav').classList.toggle('hidden');" class="sm:hidden text-5xl"
        aria-label="Open menu">
        ☰
      </button>
      <div class="hidden gap-6 sm:flex items-baseline-last">
        <span><a href="{{ config.base_url }}" class="btn">Home</a></span>
        <div class="z-2 relative inline-block">
          <button class="btn peer">About Us</button>

          <div class="opacity-100 absolute left-0 top-full hidden w-52 flex-col bg-white shadow-lg
           peer-hover:flex hover:flex">
            <a class="btn hover:underline px-5 py-3 text-black"
              href="{{ get_url(path='@/pages/wherewestand.md') }}">Where We Stand</a>
            <a class="btn hover:underline px-5 py-3 text-black"
              href="{{ get_url(path='@/pages/codeofconduct.md') }}">Code of Conduct</a>
          </div>
        </div>
        </span>
        <span>
          <a href="{{ get_url(path='@/events/_index.md') }}" class="btn">Events Calendar</a></span>
        <span> <a href="{{ get_url(path='@/perspectives/_index.md') }}" class="btn">Perspectives</a>
        </span>
        <span> <a href="{{ get_url(path='@/pages/contact.md') }}" class="btn">Contact</a>
        </span>
        <!-- <a href="{{ get_url(path='@/system/_index.md') }}">Design System</a> -->
      </div>
    </div>
    <div id='mobileNav' style="height: calc(100vh - calc(.35 * 243px) - 6 * var(--spacing))"
      class="hidden flex justify-around flex-col py-4">
      <div class="mobile-nav"><a href="{{ config.base_url }}" class="btn">Home</a></div>
      <div class="mobile-nav"><a class="btn hover:underline" href="{{ get_url(path='@/pages/wherewestand.md') }}">Where
          We Stand</a></div>
      <div class="mobile-nav"><a class="btn hover:underline" href="{{ get_url(path='@/pages/codeofconduct.md') }}">Code
          of Conduct</a></div>
      <div class="mobile-nav">
        <a href="{{ get_url(path='@/events/_index.md') }}" class="btn">Events Calendar</a>
      </div>
      <div class="mobile-nav"> <a href="{{ get_url(path='@/perspectives/_index.md') }}" class="btn">Perspectives</a>
      </div>
      <div class="mobile-nav"> <a href="{{ get_url(path='@/pages/contact.md') }}" class="btn">Contact</a>
      </div>
    </div>

  </nav>
  {% block content %} {% endblock content %}
  <footer class="text-black text-center" style="background-color: var(--primary-bg-color);">
    <div class="p-10 pb-16">
      <h2 style="font-family: 'Anton';">Let's Get Social(ist)</h2>
      <div style="color: white;"> <a href="{{config.extra.facebook_link}}">Like and follow us
          on
          <strong class="btn">Facebook</strong>!</a>
      </div>
      <div style="color: white;"><a href="{{config.extra.instagram_link}}">Or find us on
          <strong class="btn">Instagram</strong>:
          @{{config.extra.instagram_handle}}</a></div>
    </div>
  </footer>
</body>

</html>